[Unit]
Description=Supermicro Fan Controller Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/supermicro-fan-control.py
Restart=on-failure

[Install]
WantedBy=multi-user.target