[Unit]
Description=Supermicro Fan Controller Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c "/opt/supermicro-fan-control/wrapper.sh start"
ExecStop=/bin/bash -c "/opt/supermicro-fan-control/wrapper.sh stop"
Restart=on-failure

[Install]
WantedBy=multi-user.target
